.bestsellers {
    /* Styles for the bestsellers container */
  }
  
  .bestsellers .product-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
  .bestsellers .product-box-container {
    flex: 1 1 18%;
    margin: 10px;
  }

  .slick-prev:before, .slick-next:before {
    color: #261e21;
  }
  
    